<div id ="site_container" >
    <header>
        <nav id="topMenu" >
            <!-- <div id="conatainer_right" > -->
                <ul>
                    <li><a class="menuLink" onclick="niningnining()" >닝닝</a></li>
                    <li><a class="menuLink"onclick="giselle()">지젤</a></li>
                    <li><a class="menuLink"onclick="winter()">윈터</a></li>
                    <li><a class="menuLink" onclick="karina()">카리나</a></li>
                </ul>
            <!-- </div> -->
        </nav>
    </header>
    <div id="logo">
        <div id="aespainformation1">
            &nbsp; &nbsp;aespa의 세계 안에서는<br>
            &nbsp; &nbsp;현실의 나 / 내가 업로드한 정보를 먹고 자라는 가상세계 속 ae가 존재한다. 
        </div>
        <div class="container">
            <div class="neon">aespa </div>
      
          </div>


        <!-- <span id="biglogo">&nbsp;aespa</span> -->
        <div id="aespainformation2">
            데뷔일 : 2020년 11월 17일 <br>
            장르 : SMP, 댄스, 힙합, 발라드 <br>
            리더 : 카리나 <br>
        </div>
         <div id="aespainfomation3">
            be my ae! 안녕하세요 에스파입니다.
         </div>
       
        <br>
        <span></span>
        <img id="aespaPic" src="https://thumbs.gfycat.com/CheapTiredGrebe-size_restricted.gif" style="width: 1200px; height: 350px;"/>
        
    </div>
    <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <div>
        <앨범소개><br>
        Black Mamba 발매일 2020.11.17 <br>
        Forever (약속)발매일 2021.02.05 <br>
        Next Level 발매일 2021.05.17 <br>
        Savage - The 1st Mini Album 발매일 2021.10.05 <br>
        Dreams Come True - SM STATION 발매일 2021.12.20<br>
        Life's Too Short 발매일 2022.06.24<br>
        Girls - The 2nd Mini Album 발매일 2022.07.08<br>
        iScreaM Vol.18 : Girls Remixes 아티스트 aespa, BRLLNT, Minit 발매일 2022.10.21<br>

     </div>
     <div>
          2명의 한국인과 일본인, 중국인으로 구성되어 있다.
     </div>
</div>