<div class="post">
    <div class="post-content">
        <div class="edit-post-box" id="edit-post-box">
            <h1>글 수정</h1>
            <!-- TODO 이전 글 컨텐츠 복사 -->
            <input type="text" id="edit-post-title" placeholder="글 제목">
            <input type="text" id="edit-post-content" placeholder="글 내용">
            <input type="file" id="edit-post-file" onchange="fileControl(event)" placeholder="첨부파일" multiple/>
            <img id="posting-img" src="#">
            <div id="imgList">

            </div>
            <div id="fileNameList">
    
            </div>
            <div id="edit-button-container"></div>
            <!-- 수정 완료 버튼은 script.js에 있습니다. class="edit-post-button" -->
        </div>
    </div>
</div>