<br><br><center>
<div class="site-login-box">
    <img src="임시이미지주소" alt="" width="72" height="57">
    <h3>로그인 후 이용 가능합니다.</h3>
    <input type="email" placeholder="이메일" id="email">
    <input type="password" placeholder="비밀번호" id="password">
    <button onclick="logIn()">로그인</button>
    <label><input type="checkbox" id="autoLogin">자동 로그인</label>
</div>
<div class="social-login-box">
    <button onclick="googit(event)" value="google">Google 로그인</button>
    <button onclick="googit(event)" value="git">GitHub 로그인</button>
</div>
</center>