<form>
    <label>
      <p class="label-txt">ENTER YOUR EMAIL</p>
      <input type="email" class="input">
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <br>

    <label>
      <p class="label-txt">ENTER YOUR PASSWORD</p>
      <input type="password" class="input">
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label>
    <button class="register_button" onclick="logIn()" type="submit">submit</button>
    <br>
    <div class="social-login-box">
      <button onclick="googit(event)" value="google">Google 로그인</button>
      <button onclick="googit(event)" value="git">GitHub 로그인</button>
  </div>
  </form>