<div class="loginbox">
    <label>
      <p class="login-label-txt">ENTER YOUR EMAIL</p>
      <input type="email" class="input" id ="email">
      <div class="login-line-box">
        <div class="login-line"></div>
      </div>
    </label>
    <br>

    <label>
      <p class="login-label-txt">ENTER YOUR PASSWORD</p>
      <input type="password" class="input" id ="password">
      <div class="line-box">
        <div class="login-line"></div>
      </div>
    </label>
    <button class="login-register_button" onclick="logIn()" type="submit">submit</button>
    <label><input type="checkbox" id="autoLogin">자동 로그인</label>  
    <br>
    <div class="social-login-box">
      <button onclick="googit(event)" value="google">Google 로그인</button>
      <button onclick="googit(event)" value="git">GitHub 로그인</button>
  </div>
</div>