<div class="user-profile">
    <div class="user-profile-box">
        <div class="profile-upper">
            <div class="profile-image">
                <img src="../img/default-profile.png" width="300">
            </div>
            <div class="profile-title">
                <h1>이름</h1>
                <button>변경</button>
                <p>유저네임</p>
                <button>변경</button>
            </div>
        </div>
        <div class="profile-desc">
            <p>프로필에 대한 설명</p>
            <button>변경</button>
        </div>
    </div>

    <div class="post-list" id="news-feed"></div>
</div>