<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div>
    <div>
        <p class="label-txt">ENTER YOUR EMAIL</p>
        <input type="email" class="input" id = "signUpEmail">
        <div class="line-box">
        <div class="line"></div>
        </div>
    </div>
    <br>

    <div>
        <p class="label-txt">ENTER YOUR NAME</p>
        <input type="text" class="input">
        <div class="line-box">
        <div class="line"></div>
        </div>
    </div>
    <br>

    <div>
        <p class="label-txt">ENTER YOUR PASSWORD</p>
        <input type="password" class="input" id="signUpPassword">
        <div class="line-box">
        <div class="line"></div>
        </div>
    </div>
    <button type="submit" id="registerButton" onclick="registerComplete()">submit</button>
</div>