<div class="header-wrap">
    <div class="profile-menu">

        <button onclick="aespaintro()">팀 소개</button>
        <button onclick="checkHash('#loadWritePost');">글쓰기</button>
        <button onclick="checkHash('#loadMyProfile');">내 프로필</button>
        <button onclick="logOut()">로그아웃</button>
        <img onclick="checkHash('#loadWritePost');" src="img/write-post.png">
        <img onclick="checkHash('#loadMyProfile');" src="img/my-profile.png">
        <img onclick="logOut()" src="img/logout.png">
    </div>
    <div class="title-box" onclick="checkHash('#loadNewsfeed')">
        <img class="title-img" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fm3RNd%2FbtrRuV0OPUU%2F1AuohJuprY9hKbUcTIvmU1%2Fimg.png" width="150">
        <br><br>
        <h1 class="title-text"><b>Welcome To Our Dream!</b></h1>
    </div>
</div>