.news-feed {
    margin: 70px 40px 70px 40px;
}

.post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}
@media (width < 500px) {
    .post {
        flex-direction: column;
    }
}


.post-thumbnail-container {
    max-width: 30%;
    max-width: 156px;
    max-height: 156px;
}

.post-thumbnail {
    margin: auto;
    width: 85%;
    height: 85%;
    max-height: 156px;
    max-width: 156px;
}

.post-content {
    max-width: 70%;
    overflow: hidden;
    overflow-wrap: break-word;
}

.post-content-text {
    max-width: 70%;
}

.post-content-pre {
    max-width: 100%;
    word-wrap: break-word;
}

.post-title {
    margin-bottom: 0px;
}

.post-author-name {
    margin-top: 0px;
    font-size: small;
}

/* 텍스트 여백 설정 */