.news-feed {
    margin: 70px 40px 70px 40px;
}

.post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}
@media (width < 500px) {
    .post {
        flex-direction: column;
    }
}

.write-new-post-button {
    margin: 40px 40px 0px;
    width: 10%;
}

.post-thumbnail-container {
    max-width: 30%;
    max-width: 156px;
    max-height: 156px;
}

.post-thumbnail {
    margin: auto;
    height: 156px;
    width: 156px;
}

.post-newsfeed {
    width: 100%!important;
}

.post-content-newsfeed {
    width: auto!important;
    
    display: flex;
    flex-direction: column;
}

@media (width < 500px) {
    .post-content {
        width: 90vw
    }
    .post-content-text, .post-content-pre {
        max-width: 90vw;
    }
}

.post-title {
    margin-bottom: 0px;
}

.post-author-name {
    margin-top: 0px;
    font-size: small;
}

/* 텍스트 여백 설정 */