/* 공통사항입니다. 페이지별 수정은 각 page.css를 이용해주세요. */
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
/* 웹 폰트 적용 */

body {
    height: 100vh;
    width: 100vw;
    background-image: url('https://k.kakaocdn.net/dn/b9u2t9/btrRyB2yqaY/zw3SsqTZcgUKKdTaXETR4K/img.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    margin: 0px;
    font-family: 'https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css';
}

html {
    margin: 0px;
}

.title {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-inner {
    background-color: rgba( 255, 255, 255, 0.2);
    overflow: scroll;
    overflow-x: hidden;
    overflow: auto;

    
}

.outer-wrap {
    height: 1000;
}

.footer {
    margin: 0px;
    text-align: center;
}

@media (width >=1000px) {
    .outer-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .title {
        width: 25%;
        height: 100%;
        background-color: rgba( 0, 0, 0, 0.2);
        flex-direction: column;
    }

    .wrap {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .wrap-inner {
        max-width: 1300px;
        width: 80%;
        height: 70%;
    }
}

@media (width >=500px) and (width < 1000px) {

    .title {
        width: 100%;
        height: 25%;
        max-height: 350px;
        background-color: blue;
        flex-direction: row;

    }
}

@media (width < 500px) {

    .title {
        width: 100%;
        height: 50px;
        background-color: green;
        flex-direction: row;
    }

    .footer {
        display: none;
    }
}