/* 공통사항입니다. 페이지별 수정은 각 page.css를 이용해주세요. */
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 웹 폰트 적용 */

.page-body {
    /* height: 100vh;
    width: 100vw; */
    background-image: url('../img/aespa.png');
    /* background-color: white; */
    background-repeat : no-repeat;
    background-size : cover;
    margin: 0px;
    font-family: 'LeferiPoint-WhiteObliqueA';
}

.page-body::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/aespa.png');
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
    content: "";
}

html {
    margin: 0px;
}

.title-box {
    margin: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.title-text {
    margin: 0px;
}

.title {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}

.wrap-inner {
    background-color: rgba(255, 255, 255, 0.2);
    overflow: scroll;
    overflow-x: hidden;
    overflow: auto;
}

/* .outer-wrap {
    
} */

.footer {
    margin: 0px!important;
    padding: 20px 0px 15px;
    text-align: center;
    background-color: gray;
}

.footer-text {
    margin: 0px;
}

@media (width >=1000px) {
    .outer-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .title {
        width: 25%;
        height: 100vh;
        background-color: rgba( 0, 0, 0, 0.2);
        flex-direction: column;
        padding: 0px 30px;
    }

    .wrap {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .wrap-inner {
        max-width: 1300px;
        width: 50vw;
        height: 70%;
        margin-left: 70px;
    }

    .profile-menu {
        position: fixed;
        top: 5%;
    }
}

@media (width >=500px) and (width < 1000px) {

    .title {
        width: 100%;
        height: 30%;
        max-height: 250;
        flex-direction: row;
        padding: 0px;

    }

    .header-wrap {
        display: flex;
        flex-direction: row-reverse;
        align-items: top;
        justify-content: stretch;

        width: 85%;
    }

    .title-box {
        margin: 0px auto 0px 0px;
    }
}

@media (width < 500px) {
    .title-img {
        display: none;
    }

    .title {
        width: 100%;
        height: 15%;
        flex-direction: row;
        padding: 0px;
    }

    .header-wrap {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: stretch;

        width: 90%;
    }

    .title-box {
        margin: auto;
        display: flex;
    }

    .title-text {
        display: flex;
        justify-content: center;
        text-align: left;
    }

    .profile-menu {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .wrap-inner {
        height: 85vh;
    }

    .footer {
        display: none;
    }
}