@media (width >= 1000px) {
    .post {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: stretch;
    }

    .post-content {
        width: 66.25%;
        margin: 2.5% 1.25% auto 2.5%;
    }

    .comments {
        width: 26.25%;
        margin: calc(2.5% + 25px) 2.5% auto 1.25%;
    }

    .view-post-title {
        margin-top: 0px;
    }    
}

@media (width < 1000px) {
    .post {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
    }

    .post-content, .comments {
        width: 95%;
        margin: 2.5%;
    }

    .write-comment-button {
        margin-bottom: 15px;
    }
}

.view-post-title {
    margin-bottom: 0px;
}

.post-created-at {
    margin: 0px 0px 10px 0px;
    font-size: small;
}

.post-creator-info, .comment-creator-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.post-creator-profile{
    width: 6%;
    height: 6%;
}

.comment-creator-profile {
    width: 10%;
    height: 10%;
}

.post-creator-name, .comment-creator-name {
    margin-left: 10px;
    margin-right: auto;
}

.post-manage-button-box {
    margin: auto auto auto 2.5%;
}

.posting-img {
    width: 100%;
}

.comment-date {
    font-size: smaller;
}

.write-comment-input  {
    width: 100%;
}

.write-comment-button {
    width: 100%;
    margin-top: 10px;
}