.post {
    margin: 70px 40px 70px 40px;
}

#write-post-title {
    width:500px;
    font-size:20px;
}

#write-post-content {
    width: 500px;
    height:300px;
    font-size:14px;
    overflow: scroll;
    overflow-x: hidden;
}

#write-post-button {
    margin-top: 20px;
}