@font-face {
  font-family: 'EF_watermelonSalad(윈도우용TTF)';
  src: url('EF_watermelonSalad(윈도우용TTF).eot');
  src: url('EF_watermelonSalad(윈도우용TTF).eot?#iefix') format('embedded-opentype'),
       url('EF_watermelonSalad(윈도우용TTF).woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EF_watermelonSalad';
  src: url('EF_watermelonSalad.svg#EF_watermelonSalad') format('svg'),
       url('EF_watermelonSalad.ttf') format('truetype'),
       url('EF_watermelonSalad.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

