body {
    margin: 0px;
}

.nav-bar {
    width: 100vw;
    height: 9vh;
    margin: 0px;

    color: white;
    background-color: black;

    position: fixed;

    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.nav-bar-dummy {
    height: 9vh;
    margin: 0px;
}

.nav-bar-dummy > * {
    display: none;
}

.infinity-logo {
    height: calc(9vh - 10px);
}

.infinity-title {
    margin-right: auto;
}

.nav-actual {
    margin-left: auto;
}

.wrap {
    width: 100vw;

    background: linear-gradient(70deg, aqua, pink);
}

.content-wrap {
    width: 100vw;
    height: 91vh;

    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-inner {
    width: 70vw;
    max-width: 3000px;

    height: 89vh;

    margin: 1vh auto;

    background-color: rgba(0, 0, 0, 0.2);
}