* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

body {
    margin: 0px;
}

img {
    object-fit: cover;
}

.nav-bar {
    width: 100%;
    height: 9vh;
    margin: 0px;

    color: white;
    background-color: black;

    position: fixed;

    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.nav-bar-dummy {
    height: 9vh;
    width: 100%;
    margin: 0px;
}

.nav-bar-dummy > * {
    display: none;
}

.infinity-logo {
    margin: auto 10px;
    height: calc(9vh - 10px);
}

.infinity-title {
    margin-right: auto;
}

.nav-actual {
    margin: auto;
    margin-right: 10px;
}

.nav-ul {
    list-style-type: none;
    margin: 0px;
    margin-right: 20px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-ul > li {
    margin-right: 15px;
}

.nav-ul > li > button {
    font-size: 20px;

    border-radius: 5px;
    padding: 5px 20px;
    background-color: transparent;
    border: solid 1px black;
    color: white;

    transition: linear 0.3s;
}

.nav-ul > li > button:hover {
    border: solid 1px white;
}

.wrap {
    width: 100%;

    background: linear-gradient(70deg, aqua, pink);
}

.content-wrap {
    width: 100%;
    height: 91vh;

    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-inner {
    width: 85%;
    max-width: 3000px;

    height: 89vh;

    margin: 1vh auto;

    /* background-color: rgba(0, 0, 0, 0.2); */
}

.content-button {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    border-radius: 0.5vh;

    font-size: 18px;

    padding: 5px 25px;
    margin-top: 30px;
    margin-bottom: 33.5px;

    transition: linear 0.3s;
}

.content-button:hover {
    background: linear-gradient(-70deg, aqua, pink);
}

.content-title {
    font-size: 50px;
    margin-bottom: 5px;
}

.content-text {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 22px;
}

.flex-column-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.flex-column-left > * {
    margin-right: auto;
}

.flex-column-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}

.flex-column-right > * {
    margin-left: auto;
    text-align: right;
}

.content-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-left {
    margin: auto;
    margin-left: 0px;
    overflow: hidden;
}

.content-right {
    margin: auto;
    margin-right: 0px;
    overflow: hidden;
}

.main-content {
    width: 45vw;
    height: 85vh;
    margin: auto;
}

/* INTRO */

/* DEVLOG-1 */

.repo-filetree {
    /* list-style-type: none; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    font-size: 0.3vh;

    padding-left: 10%;

    background-color: rgba(0, 0, 0, 0.05);
}

@media (height > 1440px) {
    .repo-filetree {
        font-size: 15px;
    }
}

/* UX-FLOW */


/* CREW */

.crew-card {
    margin: 20px auto;
    margin-left: 0px;
}

/* THANK YOU */

.thank-you-main-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.thank-you-main-text {
    font-size: 100px;
    text-align: right;
}